@mixin btn{
        padding: 8px 25px;
        background-color: #E48D8B;
        color: #FFFFFF;
        font-family: Inter;
        font-weight: 700;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0%;
        border-radius: 5px;
        border: none;
}
@mixin pp{
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    width: 300px;
    color: #464646;
}
@mixin h22{
    font-family: Inter;
    font-weight: 600;
    font-size: 33px;
    line-height: 45.6px;
    letter-spacing: 0%;
    color: #222020;
    width: 300px;
}
.header{
    margin-top: 20px;

    &__container{
        width: 90%;
        margin: 0 auto;
    }

    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__matn{
     font-family: Inter;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.4px;
    letter-spacing: 0.6px;
    text-align: center;
    }

    &__btn{
     @include btn();
    }
}
.section{
    margin-top: 150px;

    &__general{
        display: grid;
        grid-template-columns: repeat(2, auto);
    }


    &__h2{
        width: 430px;
        font-family: Inter;
        font-weight: 400;
        font-size: 49px;
        line-height: 58.8px;
        letter-spacing: 0%;
    }

    &__p{
        font-family: Inter;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0%;
        width: 461px;
    }

    &__span{
        font-family: Inter;
        font-weight: 400;
        font-size: 15px;
        line-height: 22.4px;
        letter-spacing: 0.5px;
        text-decoration: line-through;
    }

    &__btn , &__btn1{
        @include btn();
    }

    &__btn1{
        background-color: #EDEDED;
        color: #757575;
    }

    &__img{
        width: 450px;
        height: 450px;
    }
}
.learn{
    margin-top: 150px;

    &__generall{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 10px;
    }

    &__h22{
        @include h22();
    }

    &__pp{
        @include pp();
    }
}
.get{
    margin-top: 150px;

    &__general{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 70px;
    }

    &__imgc{
        width: 300px;
        height: 300px;
    }

    &__textc , &__textcc{
        @include h22();
        width: 500px;
    }

    &__matnn{
        @include pp();
        width: 493px;
    }

    &__containerr{
        margin: 0 auto;
        width: 90%;
    }

    &__textcc{
        width: 405px;
    }
    
}
.raqam{
    margin-top: 150px;
    background-color: #017CFF; 
    color: #FFFFFF;
    padding: 20px 40px;
    width: 920px;

    
    &__h22{
        font-family: Inter;
        font-weight: 700;
        font-size: 38px;
        line-height: 45.6px;
        letter-spacing: 0%;
        text-align: center;
        width: 321;
        height: 46;
        top: -0.61px;
        left: 455px;
    }

    &__genaral{
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 70px;
    }

    &__h222{
        font-size: 50px;
    }

}

.course{
    margin-top: 150px;

    &__h21{
        font-family: Inter;
        font-weight: 700;
        font-size: 38px;
        line-height: 45.6px;
        letter-spacing: 0%;
    }

    &__pppp{
        width: 205px;
    }

    &__box9{
        margin-top: 50px;
    }

    &__generall{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 40px;
    }
 
}